<!-- Dynamic Template  -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Blog Testingt</title>
    </head>

    <body>
        <nav>
            <div class="site-title">
                <a href="/"><h1>Techy Tips</h1></a>
                <p>A Tech Tip Away</p>
            </div>
            <ul>
                <li><a href="/">Blog</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/blogs/create">New Blog Post</a></li>
            </ul>
        </nav>

        <div class="about content">
            <h2>About Us</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, voluptates beatae ipsa labore unde cumque iure aut quod aspernatur consequuntur animi, minus inventore hic voluptas non maiores. Eos, omnis quaerat.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, voluptates beatae ipsa labore unde cumque iure aut quod aspernatur consequuntur animi, minus inventore hic voluptas non maiores. Eos, omnis quaerat.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, voluptates beatae ipsa labore unde cumque iure aut quod aspernatur consequuntur animi, minus inventore hic voluptas non maiores. Eos, omnis quaerat.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, voluptates beatae ipsa labore unde cumque iure aut quod aspernatur consequuntur animi, minus inventore hic voluptas non maiores. Eos, omnis quaerat.</p>
        </div>
    </body>